<nav class="navbar navbar-expand-lg bg-danger" xmlns:sec="http://www.w3.org/1999/xhtml">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Magyar labdarúgó-bajnokság</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/players">Játékosok</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/players/new" sec:authorize="isAuthenticated()">Focista felvétele</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts/new" sec:authorize="isAuthenticated()">Poszt felvétele</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clubs/new" sec:authorize="isAuthenticated()">Csapat felvétele</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clubs">Csapatok</a>
        </li>
        <li class="nav-item">
          <a href="/admin/users" class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')">Felhasználók</a>
        </li>
      </ul>
      <form class="d-flex">
        <a class="btn btn-outline-dark me-2" role="button" sec:authorize="isAnonymous()" th:href="@{/registration}">Regisztráció</a>
        <a class="btn btn-outline-dark" role="button" sec:authorize="isAnonymous()" th:href="@{/login}">Bejelentkezés</a>
        <a class="btn btn-outline-dark" role="button" sec:authorize="isAuthenticated()" th:href="@{/logout}">Kijelentkezés</a>
      </form>
    </div>
  </div>
</nav>