<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NB1</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header"></div>

<div class="container py-2">
    <div class="p-5 mb-4 bg-danger rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Magyar labdarúgó-bajnokság</h1>
            <p class="col-md-8 fs-4">A magyar NB1 (Nemzeti Bajnokság I.), vagy más néven OTP Bank Liga a legmagasabb osztályú labdarúgó-bajnokság Magyarországon. A liga rendszeresített bajnokság, amelyben a hazai legjobb labdarúgócsapatok mérkőznek egymással a bajnoki címért.</p>
        </div>
    </div>
</div>

<div class="container py-2">
    <div class="h-100 p-5 text-bg-light rounded-3">
        <h2>Története</h2>
        <p>A magyar labdarúgó NB1 története gazdag és sokszínű, szorosan kapcsolódik a magyar futball és a társadalmi események alakulásához. A bajnokság hivatalos kezdetét 1901-ben vehetjük, amikor is megtartották az első Magyar Labdarúgó-bajnokságot. Az évek során a bajnokság különböző neveken szerepelt, és a rendszerváltást követően 1991-ben vette fel az NB1 (Nemzeti Bajnokság I.) nevet.
            A magyar NB1 tehát a múltban és a jelenben is gazdag történelmi örökséggel rendelkezik, és a futballszurkolók számára fontos része a magyar sportkultúrának.</p>
    </div>
</div>

<div class="container py-2">
    <div class="h-100 p-5 bg-success border rounded-3">
        <h2>A magyar bajnokság európában</h2>
        <p>A magyar NB1-ben szereplő csapatoknak lehetőségük van részt venni az európai kupasorozatokban, például az UEFA Bajnokok Ligájában és az Európa-ligában. Az európai szereplés megszerzése általában a bajnokságban elért helyezésektől függ.

            UEFA Bajnokok Ligája (UCL): A magyar bajnokság bajnoka, azaz az NB1-et megnyerő csapat kvalifikálhatja magát az UEFA Bajnokok Ligájába. A Bajnokok Ligája a legmagasabb szintű európai klubfutball versenye, ahol a kontinens legjobb csapatai mérkőznek egymással.

            Európa-liga (UEL): Az NB1 második és harmadik helyezettjei, valamint a Magyar Kupa győztese kvalifikálhatják magukat az Európa-ligába. Az Európa-liga az UEFA második legmagasabb szintű európai klubversenye, és szintén lehetőséget biztosít a nemzeti bajnokságokból származó csapatoknak az európai színtéren való szereplésre.

            Az európai kupasorozatokban való részvétel nemcsak a kluboknak, hanem a nemzeti bajnokság számára is fontos, mivel ezek a versenyek lehetőséget nyújtanak a hazai futball népszerűsítésére és a nemzetközi színtéren való elismerésre. A jó teljesítmény az európai kupasorozatokban lehetőséget teremt a csapatoknak arra is, hogy a nemzetközi porondon bizonyítsák tehetségüket és erősségüket.</p>
    </div>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>
