<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NB1 - Új Poszt</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="container">
    <h1 class="my-3">Poszt hozzáadása</h1>

    <form th:action="@{/post/new}" th:object="${post}" method="post">
        <div class="mb-3 d-flex flex-row">
            <div>
                <label for="postName" class="form-label">Poszt</label>
                <input type="text" class="form-control" id="postName" th:field="*{name}">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}" class="text-danger" />
                </ul>
            </div>
        </div>
        <hr/>
        <button class="btn btn-success mb-3" type="submit">Mentés</button>
    </form>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>