<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NB1 - Új Játékos</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="container">
  <h1 class="my-3">Játékos hozzáadása</h1>

  <form th:action="@{/player/new}" th:object="${player}" method="post">
    <div class="mb-3 d-flex flex-row">
      <div>
        <label for="playerLastName" class="form-label">Játékos Vezetéknév</label>
        <input type="text" class="form-control" id="playerLastName" th:field="*{lastName}">
        <ul>
          <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}" class="text-danger" />
        </ul>
      </div>
      <div class="ms-2">
        <label for="playerFirstName" class="form-label">Játékos Keresztnév</label>
        <input type="text" class="form-control" id="playerFirstName" th:field="*{firstName}">
        <ul>
          <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}" class="text-danger" />
        </ul>
      </div>
    </div>
    <div class="mb-3 d-flex ">
      <div>
        <label for="playerBirthDate" class="form-label">Játékos születési éve</label>
        <input type="date" class="form-control" id="playerBirthDate" th:field="*{birthDate}">
        <ul>
          <li th:each="err : ${#fields.errors('birthDate')}" th:text="${err}" class="text-danger" />
        </ul>
      </div>
    </div>
    <hr/>
    <div class="mb-3 d-flex flex-row align-items-center">
      <div>
        <label for="playerJersey" class="form-label">Játékos mezszáma</label>
        <input type="number" class="form-control" id="playerJersey" th:field="*{jersey}">
        <ul>
          <li th:each="err : ${#fields.errors('jersey')}" th:text="${err}" class="text-danger" />
        </ul>
      </div>
      <div class="ms-2">
        <label for="playerValue" class="form-label">Játékos érték</label>
        <input type="number" class="form-control" id="playerValue" th:field="*{value}">
        <ul>
          <li th:each="err : ${#fields.errors('value')}" th:text="${err}" class="text-danger" />
        </ul>
      </div>
      <div class="form-check ms-2 pt-3">
        <label class="form-check-label" for="playerIsHungarian">
          Magyar?
        </label>
        <input class="form-check-input" type="checkbox" value="" id="playerIsHungarian" th:field="*{isHungarian}">
      </div>
    </div>
    <div class="mb-3 d-flex flew-row">
      <div>
        <label for="playerClub" class="form-label">Játékos csapata</label>
        <select class="form-select" id="playerClub" th:field="*{clubID}">
          <option th:each="club : ${clubs}" th:value="${club.id}" th:text="${club.teamName}"></option>
        </select>
        <ul>
          <li th:each="err : ${#fields.errors('clubID')}" th:text="${err}" class="text-danger" />
        </ul>
      </div>
      <div class="ms-2">
        <label for="playerPost" class="form-label">Játékos posztja</label>
        <select class="form-select" id="playerPost" th:field="*{postID}">
          <option th:each="post : ${posts}" th:value="${post.id}" th:text="${post.name}"></option>
        </select>
        <ul>
          <li th:each="err : ${#fields.errors('postID')}" th:text="${err}" class="text-danger" />
        </ul>
      </div>
    </div>
    <hr/>
    <button class="btn btn-success mb-3" type="submit">Mentés</button>
  </form>
</div>
<div th:replace="fragments/footer"></div>
</body>
</html>