<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NB1 - Játékosok</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body xmlns:sec="http://www.w3.org/1999/xhtml">
  <div th:replace="fragments/header"></div>
  <div class="container">
      <h1>Játékosok</h1>
      <div class="alert alert-danger" role="alert" th:if="${msg != null}" th:text="${msg}"></div>
      <table class="table">
          <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Mezszám</th>
              <th scope="col">Keresztnév</th>
              <th scope="col">Vezetéknév</th>
              <th scope="col">Születésnap</th>
              <th scope="col">Csapatnév</th>
              <th scope="col">Poszt</th>
              <th scope="col">Érték (€)</th>
              <th scope="col">Nemzetiség</th>
              <th scope="col" sec:authorize="isAuthenticated()"></th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="player: ${players}">
              <td th:text="${player.id}"></td>
              <td th:text="${player.jersey}"></td>
              <td th:text="${player.firstName}"></td>
              <td th:text="${player.lastName}"></td>
              <td th:text="${player.birthDate}"></td>
              <td th:text="${player.club.teamName}"></td>
              <td th:text="${player.post.name}"></td>
              <td th:text="${player.value}"></td>
              <td>
                  <img th:src="@{/img/hungary.png}" width="40px" class="img-thumbnail" th:if="${player.isHungarian}" alt="Magyar">
                  <img th:src="@{/img/rest.jpg}" width="40px" class="img-thumbnail" th:unless="${player.isHungarian}" alt="Külföldi">
              </td>
              <td sec:authorize="isAuthenticated()">
                  <a th:href="@{'/players/delete/' + ${player.id}}" class="btn btn-danger">Törlés</a>
              </td>
          </tr>
          </tbody>
      </table>
  </div>

  <div th:replace="fragments/footer"></div>
</body>
</html>