<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NB1 - Játékosok</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="container">
    <h1>Játékosok</h1>
    <div class="alert alert-danger" role="alert" th:if="${msg != null}" th:text="${msg}">

    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Felhasználónév</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{'/admin/delete/' + ${user.id}}" class="btn btn-danger">Törlés</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>